apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  name: letsencrypt
spec:
  acme:
    # You must replace this email address with your own.
    # Let's Encrypt will use this to contact you about expiring
    # certificates, and issues related to your account.  
    server: https://acme-v02.api.letsencrypt.org/directory
    email: infraestrutura@a4pm.com.br
    privateKeySecretRef:
      name: {{ chave_secreta }}
    solvers:
      - http01:
          ingress:
            class: nginx